body {
    margin: 5%;
    font-family: Meiryo, "Yu Gothic" ,sans-serif;
    background-color: white;
}

h1 {
    font-family: "Trebuchet MS", Trebuchet, Verdana, sans-serif;
    text-align: center;
    background-color: #002244;
    font-size: 2.0em;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
}

h2 {
    color: #444444;
    margin-top: 40px;
    padding-top: 2px;
    padding-left: 10px;
    border-left: 8px solid #444444;
    width: 600px;
}

h3 {
    color: #444444;
    margin-top: 40px;
    padding-top: 2px;
    padding-left: 10px;
    border-left: 8px solid #AAAAAA;
    width: 600px;
}

p {
    text-align: left;
    padding-left: 1em;
}

code {
    background-color: #EEEEEE;
    padding: 0px 10px;
    font-family: "メイリオ", Meiryo;
}

table {
    width: 100%;
    margin: 20px 0 50px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-spacing: 0;
}

table tr th, table tr td {
    font-size: 12px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 7px;
}

table tr th {
    background: #EEE;
}
